.new-item__controls {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: left;
  box-sizing: border-box;
}

.new-item__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: #bec1cf;
}

.new-item__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #515a67;
  background-color: #515a67;
  width: 12rem;
  max-width: 95%;
}

.new-item__actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
