.new-item {
  padding: 2rem 2rem 1rem 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.new-item h2 {
  font-weight: 900;
  font-size: 35px;
  color: rgb(205, 208, 218);
}

/* .modal.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(black, 0.2);
} */
