.items-filter {
  color: #bec1cf;
  padding: 0 1rem;
}

.items-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.items-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.items-filter select {
  font: inherit;
  padding: 0.2rem 0.1rem;
  font-weight: normal;
  border-radius: 6px;
  margin-right: 4.5rem;
  font-size: 14px;
}

@media (min-width: 580px) {
  .items-filter select {
    margin-right: 2.5rem;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    font-size: 16px;
  }
}
